<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

NOTEBOOK

This is peer assignment given by the IBM data science course. the estimated time to complete the assingnment is in 1 hour.

LIST OF DATA SCIENCE LANGUAGES:-





1.python


2.R language


3.Java


4.Javascript


5.Scala

LIST OF DATA SCIENCE LIBRARIES:-



1.pandas


2.matplotlib



3.NUMpy




4.Tensoflow





5.scikit-learn


6.plotly




7.scipy






8.keras

LIST OF DATA SCIENCE TOOLS:-






1.jupyter





2.tableau






3.apache spark




4.apache hadoop




5.matlab






6.microsoft power BI






7.Tensorflow

This is an introduction on how to perform arithmetic operations using "code cells" in jupyter

In [3]:
(2300004+2343545)*12

55722588

code to convert minutes to hours using code cells:-

In [2]:
def minutes_to_hours(minutes):
    return minutes/60
minutes=120
hours=minutes_to_hours(minutes)
print(hours)

2.0

OBJECTIVES:




1.Title of the notebook


2.cell for an introduction






4.list of data science languages





5.list of data science libraries




6.list of data science tools







7.how to perform arithmetic operations





8.how to convert minutes to hours

puli venkat karthik - author name